.container {
  display: inline-flex;
  gap: 20px;
}

.section-1 {
  width: 30%;
}

.section-2 {
  width: 65%;
}

table {
  width: 100%;
}

mat-form-field {
  display: grid;
}

div > h3,
h4 {
  color: #202020;
}

h4 {
  margin: 20px 0px 0px 20px;
}
.mg-20 {
  margin: 0 2% 1% 2%;
}
h3 {
  margin: 20px 20px 20px 20px;
}
.actions-button {
  bottom: 0;
  gap: 10px;
  right: 10px;
  margin: 0px 10px 10px 20px;
  display: flex;
  justify-content: flex-end;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}
