<app-edit-header
  [isAddition]="true"
  [isReadOnly]="isReadOnly"
  [title]="displayHeaderTitle()"
  (backClicked)="manageBack()"
  (validateClicked)="validate()"
></app-edit-header>
<div>
  <form [formGroup]="addPointageForm" class="pointage-form">
    <ng-container>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Projet</mat-label>
        <mat-select formControlName="project" required>
          <mat-option *ngFor="let project of projects" [value]="project.code">
            {{ project.reference }} - {{ project.code }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addPointageForm.get('project')?.hasError('required')">
          Projet est requis
        </mat-error>
      </mat-form-field>

      <div class="chips-container">
        <mat-chip-grid #employeeChipGrid aria-label="Employés sélectionnés">
          <mat-chip-row
            *ngFor="let empId of addPointageForm.get('employees')?.value"
            (removed)="removeSelectedEmployee(empId)"
          >
            {{ resolveEmployeeName(empId) }}
            <button
              matChipRemove
              [attr.aria-label]="'Retirer ' + resolveEmployeeName(empId)"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
      </div>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Employé</mat-label>
        <mat-select formControlName="employees" multiple required>
          <mat-option *ngFor="let employee of employees" [value]="employee.id">
            {{ employee.firstName }} {{ employee.lastName }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="addPointageForm.get('employees')?.hasError('required')"
        >
          Employé est requis
        </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-template #notAddition>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Projet</mat-label>
        <input
          matInput
          formControlName="project"
          [value]="entity?.project?.code"
          readonly
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Employé</mat-label>
        <input
          matInput
          formControlName="employee"
          [value]="
            entity?.employee?.firstName + ' ' + entity?.employee?.lastName
          "
          readonly
        />
      </mat-form-field>
    </ng-template>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Période du pointage</mat-label>
      <mat-date-range-input
        [rangePicker]="picker"
        formGroupName="pointageDateRange"
        [dateFilter]="disableFutureDates"
      >
        <input
          matInput
          matStartDate
          placeholder="Date de début"
          formControlName="start"
          required
          [max]="today"
        />
        <input
          matEndDate
          placeholder="Date de fin"
          formControlName="end"
          [max]="today"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error
        *ngIf="addPointageForm.get('dateRange.start')?.hasError('required')"
      >
        Date de début est requise
      </mat-error>
    </mat-form-field>

    <ng-container *ngIf="entityName === 'horaires'; else salaries">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Pointage</mat-label>
        <input
          matInput
          type="number"
          formControlName="totalHours"
          min="0"
          max="12"
          step="0.5"
        />
      </mat-form-field>
    </ng-container>
    <ng-template #salaries>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Pointage</mat-label>
        <input
          matInput
          type="number"
          formControlName="totalHours"
          min="0"
          max="1"
          step="0.25"
        />
      </mat-form-field>
    </ng-template>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Commentaire</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>

    <div class="form-actions">
      <button mat-button type="button" (click)="manageBack()">Annuler</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="validate()"
        [disabled]="addPointageForm.invalid"
      >
        Ajouter
      </button>
    </div>
  </form>
</div>
