<div class="topbar">
  <div class="topbar-start">
    <button
      class="sidebar-toggle"
      (click)="toggleSidebar.emit()"
      [attr.aria-label]="sidebarCollapsed ? 'Expand sidebar' : 'Collapse sidebar'">
      <mat-icon>{{ sidebarCollapsed ? 'menu' : 'menu_open' }}</mat-icon>
    </button>
    <div class="brand-link" routerLink="/accueil">
      <div class="brand-logo"><span>C</span></div>
      <span class="brand-name">CreatifPro</span>
    </div>
    <span class="topbar-divider"></span>
    <div class="breadcrumb-trail">
      <ng-container *ngFor="let crumb of breadcrumbs; let last = last">
        <span class="crumb" [class.crumb-active]="last">{{ crumb }}</span>
        <mat-icon class="crumb-separator" *ngIf="!last">chevron_right</mat-icon>
      </ng-container>
    </div>
  </div>
  <div class="topbar-end">
    <span class="version-tag">BETA 0.0.1</span>
  </div>
</div>

