.form-elements {
  display: flex;
  display: grid;
}

mat-form-field {
  margin: 0px 20px 0px 20px;
}

mat-card {
  margin: 20px 20px 20px 20px;
}

.custom-card {
  max-width: 600px;
}

.card-container {
  display: flex;
  align-items: flex-start; /* Align items horizontally (circle on left, content on right) */
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Circle width */
  height: 100px; /* Circle height */
  background-color: #ecedef; /* Background color */
  color: white; /* Text color */
  border-radius: 50%; /* Makes the div a circle */
  font-size: 24px; /* Font size for the text */
  text-align: center; /* Center text inside the circle */
  margin-right: 16px; /* Adds space between the circle and text content */
}

.card-content {
  display: flex;
  flex-direction: column; /* Stack title and subtitles vertically */
}

mat-card-subtitle {
  font-size: 12px; /* Reduced font size */
  vertical-align: top;
}
