.container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}
.header {
  display: flex;
  margin-bottom: 10px;

  &:before {
    background: var(--color-primary);
    content: "";
    display: block;
    width: 20px;
    height: 40px;
    left: 0;
    top: 0;
    border-radius: 4px;
    flex: 0 1 auto;
    margin-right: 10px;
  }

  font-family: "SFR Bold", "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding: 5px;

  font-size: 1.25em;
  line-height: 32px;
  flex: 1 1 auto;
  text-transform: uppercase;
  align-items: flex-end;
}

.confirmation-content {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555;
  padding: 10px 10px 0 20px;
}

mat-progress-bar {
  width: 220px;
  margin: 0 0 20px 35px;
}
mat-icon {
  color: #f56708;
}
