<div class="generic-table">
  <div class="search-table" *ngIf="addable || searchable">
    <button
      (click)="add_clicked()"
      *ngIf="addable"
      matTooltip="Ajouter"
      mat-fab
      color="primary"
      aria-label="Ajouter"
    >
      <mat-icon>add</mat-icon>
    </button>

    <mat-slide-toggle
      *ngIf="enabled"
      class="mat-slide-toggle"
      [checked]="false"
      [disabled]="false"
      (change)="filter_clicked()"
      [(ngModel)]="active"
    >
    </mat-slide-toggle>
    <div class="align-elements">
      <mat-form-field
        color="accent"
        subscriptSizing="dynamic"
        *ngIf="searchable"
        appearance="outline"
        class="full-width search-field"
      >
        <mat-label>Recherche par libelle</mat-label>
        <mat-icon color="accent" matPrefix>search</mat-icon>
        <input
          (keyup)="input_searched($event)"
          [(ngModel)]="searchedValue"
          matInput
        />
      </mat-form-field>
      @if (entity === 'pointage') {
      <mat-icon>arrow_back_ios</mat-icon>

      <mat-form-field class="mt-10">
        <mat-label>Saisissez un interval</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" />
          <input matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-icon>arrow_forward_ios</mat-icon>
      }
    </div>
  </div>
  <mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z0 table"
    [class.placeholder]="loading"
  >
    <ng-container
      *ngFor="let def of columnsAll; trackBy: trackBy"
      [matColumnDef]="def.path"
    >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ def.libelle }}</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        <ng-container>
          @if (entity === 'pointage' && !def.path.startsWith('employe')) {
          <mat-icon
            [ngClass]="{
              green: resolve(def.path, element) === '1',
              red: resolve(def.path, element) === '0'
            }"
            [fontIcon]="
              resolve(def.path, element) === '1'
                ? 'check_circle'
                : resolve(def.path, element) === '0'
                ? 'cancel'
                : ''
            "
          >
          </mat-icon>
          }

          {{ resolve(def.path, element) }}
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell class="actions" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="actions" *matCellDef="let row">
        <button
          (click)="remove_clicked(row)"
          mat-icon-button
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container *ngIf="isEditable || hasDetails" matColumnDef="actions">
      <mat-header-cell class="actions" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="actions" *matCellDef="let row">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            (click)="showDetails_clicked(row)"
            mat-menu-item
            *ngIf="hasDetails"
          >
            <mat-icon>remove_red_eye</mat-icon>
            <span>Visualiser</span>
          </button>
          <button mat-menu-item (click)="edit_clicked(row)" *ngIf="isEditable">
            <mat-icon>edit</mat-icon>
            <span>Editer</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsPath"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: columnsPath"
      (click)="clickableRow ? row_clicked(row) : ''"
      [class.clicked-row]="clickedRow?.id === row?.id"
      [class.clickable-row]="clickableRow"
    ></mat-row>
  </mat-table>
  <mat-paginator
    *ngIf="showPagination"
    [pageSizeOptions]="[10, 25, 100]"
    (page)="page_changed($event)"
    [length]="total"
    [pageIndex]="currentPage"
    class="paginator"
    aria-label="Taille de la page"
  ></mat-paginator>
</div>
