<div class="generic-table">
  <div class="search-table" *ngIf="addable || searchable">
    <button
      (click)="add_clicked()"
      *ngIf="addable"
      matTooltip="Ajouter"
      mat-fab
      color="primary"
      aria-label="Ajouter"
    >
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field
      color="accent"
      subscriptSizing="dynamic"
      *ngIf="searchable"
      appearance="outline"
      class="search-field"
    >
      <mat-label>Rechercher</mat-label>
      <mat-icon color="accent" matPrefix>search</mat-icon>
      <input
        (keyup)="input_searched($event)"
        [(ngModel)]="searchedValue"
        matInput
      />
    </mat-form-field>
    <div *ngIf="entity === 'pointage'" class="justify-content">
      <button mat-icon-button (click)="previous_week()">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="keyboard_arrow_left"
        ></mat-icon>
      </button>
      <mat-form-field>
        <mat-date-range-input [rangePicker]="picker" [formGroup]="rangeDate">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button mat-icon-button (click)="next_week()">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="keyboard_arrow_right"
        ></mat-icon>
      </button>
    </div>
  </div>
  <mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z0 table"
    [class.placeholder]="loading"
  >
    <ng-container
      *ngFor="let def of columnsAll; trackBy: trackBy"
      [matColumnDef]="def.path"
    >
      @if (def.path === 'id') {
      <mat-header-cell *matHeaderCellDef mat-sort-header> No.</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox
          (change)="onCheckboxChange($event, element.id)"
        ></mat-checkbox>
      </mat-cell>

      }@else {
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ def.libelle }}</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        <ng-container>
          {{ resolve(def.path, element) }}
        </ng-container>
      </mat-cell>
      }
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell class="actions" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="actions" *matCellDef="let row">
        <button
          (click)="remove_clicked(row)"
          mat-icon-button
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container *ngIf="isEditable || hasDetails" matColumnDef="actions">
      <mat-header-cell class="actions" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="actions" *matCellDef="let row">
        <button
          (click)="showDetails_clicked(row)"
          mat-icon-button
          *ngIf="hasDetails"
        >
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button mat-icon-button (click)="edit_clicked(row)" *ngIf="isEditable">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsPath"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: columnsPath"
      (click)="clickableRow ? row_clicked(row) : ''"
      [class.clicked-row]="clickedRow?.id === row?.id"
      [class.clickable-row]="clickableRow"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25]"
    (page)="page_changed($event)"
    [length]="total"
    [pageIndex]="currentPage"
    aria-label="Taille de la page"
  ></mat-paginator>
</div>
