.mat-mdc-table .mdc-data-table__row,
.mat-mdc-table .mdc-data-table__header-row {
  height: 40px;
}

.generic-table {
  display: flex;
  flex-direction: column;
}

.search-table {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}

.table {
  flex-grow: 1;
}

.clicked-row {
  background-color: var(--color-primary);
}

.clickable-row {
  cursor: pointer;
}

.basic {
  color: #9e9e9e;
}

mat-table.placeholder mat-cell {
  padding: 15px;
}

mat-table.placeholder mat-cell span.blank {
  height: 100%;
  width: 100%;
  background-color: var(--placeholder-color);
  border-radius: 10px;
}

.mat-slide-toggle {
  margin-top: 1rem;
}

.search-field {
  flex: 1;
  width: 230%;
  height: 50px;
}
