@keyframes highlight {
  from {
    background-color: greenyellow; /* Start with a highlight color */
  }
  to {
    background-color: transparent; /* End with no color */
  }
}

.highlighted-cell {
  animation: highlight 2s ease-in-out; /* Animation lasts 2 seconds */
}

.cal-day-number {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.pointage-container {
  display: grid;
}
.pointage-container-paid-color {
  background-color: aliceblue;
}
.pointage-container-unpaid-color {
  background-color: bisque;
}

.grid-items {
  display: grid;
  width: 40%;
  height: 80px;
  align-items: center;
  margin: 5px;
  padding: 10px 10px 0 10px;
}

.pointage-items {
  display: flex;
  align-items: start;
  margin: 5px 0;
}

.action-items {
  bottom: 0;
  display: flex;
  align-items: end;
  margin: 5% 0 0 10%;
}

.status-paid {
  color: green; /* Green color for "Payé" status */
}

.status-unpaid {
  color: orange; /* Orange color for "Non payé" status */
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.header-container {
  display: flex; /* Left and right elements are spread to the extremes */
  align-items: center; /* Align vertically */
  width: 100%; /* Full width of the header */
  gap: 10px;
  padding: 0 16px; /* Horizontal padding */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  background-color: #f9f9f9; /* Optional background color */
  border-bottom: 1px solid #ddd; /* Optional bottom border */
}

.month-display {
  display: flex;
  align-items: center;
}

.mat-icon-size {
  vertical-align: middle;
  font-size: 18px;
  cursor: pointer;
}

mat-card {
  margin: 20px 20px 20px 20px;
}

.custom-card {
  max-width: 350px;
}

.card-container {
  display: flex;
  align-items: flex-start; /* Align items horizontally (circle on left, content on right) */
  margin-right: 100px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Circle width */
  height: 100px; /* Circle height */
  background-color: #f46608; /* Background color */
  color: white; /* Text color */
  border-radius: 50%; /* Makes the div a circle */
  font-size: 24px; /* Font size for the text */
  text-align: center; /* Center text inside the circle */
  margin-right: 16px; /* Adds space between the circle and text content */
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 200px;
}

mat-card-subtitle {
  font-size: 12px; /* Reduced font size */
  vertical-align: top;
}

.calendar-container {
  padding: 20px;
}

////////////////////
.portfolio-card {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.portfolio-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.portfolio-item {
  display: flex;
  align-items: center;
  width: 30%;
}

.icon-container {
  padding: 10px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-right: 15px;
}

.portfolio-details {
  display: flex;
  flex-direction: column;
}

.portfolio-details p {
  margin: 0;
  font-size: 14px;
  color: #888;
}

.portfolio-details h2 {
  margin: 0;
  font-size: 28px;
  color: #333;
}

.change-info {
  margin-top: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.up-arrow {
  color: #4caf50;
  margin-right: 5px;
}

.down-arrow {
  color: #f44336;
  margin-right: 5px;
}

.report-button {
  display: block;
  margin: 0 auto;
}

////////////////////////////::after
.actions-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-display-content {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between the icon and month text */
}

.ajout-button {
  margin-left: auto; /* Pushes the "Ajout en masse" button to the right */
}

.mat-form-field {
  min-width: 150px;
}

.mat-icon-button {
  cursor: pointer;
}

.month-navigation {
  display: flex; /* Flexbox layout for horizontal alignment */
  align-items: center; /* Vertically aligns date picker */
  gap: 10px; /* Space between buttons and date picker */
  position: relative;
}

.mat-form-field.month-picker {
  width: 200px; /* Set date picker width */
}

button.mat-icon-button {
  display: inline-flex; /* Ensures buttons are properly aligned */
  align-items: center;
  margin-top: -10px; /* Lift buttons to top (adjust as necessary) */
}

