<div>
  <div class="header-container">
    <mat-card class="portfolio-card">
      <div class="portfolio-content">
        <div class="card-container">
          <div
            class="circle"
            [innerHTML]="
              entity?.employe?.prenom.substring(0, 1) +
              entity?.employe?.nom.substring(0, 1)
            "
          ></div>
          <div class="card-content">
            <mat-card-title
              >{{ entity?.employe?.prenom }}
              {{ entity?.employe?.nom }}</mat-card-title
            >
            <mat-card-subtitle>{{
              entity?.employe?.projet.nom
            }}</mat-card-subtitle>
            <mat-card-subtitle>{{
              entity?.employe?.typeContrat
            }}</mat-card-subtitle>
            <mat-card-subtitle>{{ entity?.employe?.poste }}</mat-card-subtitle>
            <mat-card-subtitle>{{
              entity?.employe?.numeroTelephone
            }}</mat-card-subtitle>
          </div>
        </div>

        <div class="portfolio-item">
          <div class="icon-container" style="background-color: #ff9800">
            <mat-icon>account_balance_wallet</mat-icon>
          </div>
          <div class="portfolio-details">
            <p>Jours travaillés</p>
            <h2>{{ pointages?.length }}</h2>
            <div class="change-info">
              <span class="down-arrow">▼ 4.1%</span>
            </div>
          </div>
        </div>

        <div class="portfolio-item">
          <div class="icon-container" style="background-color: #f44336">
            <mat-icon>business_center</mat-icon>
          </div>
          <div class="portfolio-details">
            <p>
              {{
                entity?.employe?.typeContrat === "HORAIRE"
                  ? "Heures travaillées"
                  : "Jours travaillés"
              }}
            </p>
            <h2>
              {{ heuresTravailles
              }}{{ entity?.employe?.typeContrat === "HORAIRE" ? "H" : " J" }}
            </h2>
            <div class="change-info">
              <span class="up-arrow">▲ 14.1%</span>
            </div>
          </div>
        </div>

        <div class="portfolio-item">
          <div class="icon-container" style="background-color: #4caf50">
            <mat-icon>monetization_on</mat-icon>
          </div>
          <div class="portfolio-details">
            <p>Jours payés</p>
            <h2>{{ pourcentagePaye }}%</h2>
            <div class="change-info">
              <span class="up-arrow">▲ 7.35%</span>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="calendar-container">
    <div class="actions-banner">
      <div class="month-navigation">
        @if (!isReadOnly) {
        <div class="button">
          <button
            mat-fab
            color="primary"
            class="ajout-button"
            (click)="openBulkDialog()"
          >
            <mat-icon>group_add</mat-icon>
          </button>
        </div>
        }
        <div class="month-navigation">
          <div class="button">
            <button mat-icon-button (click)="previousMonth()">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
          </div>

          <!-- Date Picker Input Field -->
          <mat-form-field appearance="fill" class="month-picker">
            <mat-label>Month</mat-label>
            <input
              matInput
              [matDatepicker]="monthPicker"
              [value]="viewDate"
              (dateInput)="onMonthSelected($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="monthPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #monthPicker
              startView="multi-year"
              (monthSelected)="chosenMonthHandler($event, monthPicker)"
              panelClass="month-picker"
            ></mat-datepicker>
          </mat-form-field>

          <div class="button">
            <button mat-icon-button (click)="nextMonth()">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [cellTemplate]="calendarCell"
      [weekStartsOn]="1"
      [locale]="locale"
      (dayClicked)="dayClicked($event.day)"
    >
    </mwl-calendar-month-view>
  </div>
</div>

<ng-template #calendarCell let-day="day" let-locale="locale">
  <div>
    <span class="cal-day-number">
      {{ day.date | calendarDate : "monthViewDayNumber" : locale }}
    </span>

    <div
      [ngClass]="
        isCellUpdated && isSameDate(updatedDay, day.date)
          ? 'highlighted-cell'
          : ''
      "
    >
      <div
        class="pointage-container"
        *ngFor="let pointage of getPointageForDay(day)"
      >
        <div
          class="grid-items"
          [ngClass]="
            pointage.status
              ? 'pointage-container-paid-color'
              : 'pointage-container-unpaid-color'
          "
        >
          <div class="pointage-items">
            <mat-icon class="mat-icon-size">schedule</mat-icon>
            <span style="font-size: 14px"
              >{{ pointage.pointage
              }}{{ entity?.employe?.typeContrat === "CDI" ? " J" : "H" }}</span
            >
          </div>
          <div>
            <mat-icon
              class="mat-icon-size"
              [fontIcon]="pointage.status ? 'paid' : 'error'"
              [ngClass]="pointage.status ? 'status-paid' : 'status-unpaid'"
              [matTooltip]="pointage.status ? 'Payé' : 'Non payé'"
            ></mat-icon>
          </div>
        </div>
        @if (!isReadOnly) {
        <div class="action-items">
          <mat-icon class="mat-icon-size" (click)="pointageClicked(day)">{{
            cellContainPointage(day).length === 0 ? "add" : "edit"
          }}</mat-icon>
          <mat-icon
            style="color: red"
            class="mat-icon-size"
            (click)="deletePointage(day)"
            >delete</mat-icon
          >
        </div>
        }
      </div>
    </div>
  </div>
</ng-template>
