<div class="app-layout" [class.sidebar-collapsed]="sidebarCollapsed">
  @if(showHeader()) {
    <app-header
      [sidebarCollapsed]="sidebarCollapsed"
      (toggleSidebar)="onSidebarToggle(!sidebarCollapsed)">
    </app-header>
    <div class="app-body">
      <aside class="app-sidebar">
        <app-navigation [collapsed]="sidebarCollapsed"></app-navigation>
      </aside>
      <main class="app-content">
        <router-outlet></router-outlet>
      </main>
    </div>
  } @else {
    <router-outlet></router-outlet>
  }
</div>
