<h3>Fiche pointages</h3>
<div [ngClass]="showChartsClicked ? 'container' : ''">
  <div [ngClass]="showChartsClicked ? 'section' : ''">
    <mat-card>
      <app-generic-table
        [columns]="columns"
        [data]="pointages"
        [showPlaceholder]="false"
        [enabled]="false"
        [addable]="true"
        [exportable]="true"
        [searchable]="true"
        [isEditable]="true"
        [hasDetails]="true"
        [clickableRow]="true"
        [filterForm]="filterForm"
        [typeContrat]="typeContrat"
        [entity]="'pointage'"
        (searched)="searchPointages($event)"
        (edit)="edit($event, false)"
        (showDetails)="edit($event, true)"
        (addClicked)="add()"
        [exporting]="exporting"
        (exportClicked)="export()"
      >
      </app-generic-table>
    </mat-card>
  </div>

</div>
