<h3>Fiche pointages</h3>
<div class="container">
  <div class="section">
    <mat-card>
      <app-generic-table
        [columns]="columns"
        [data]="pointages"
        [showPlaceholder]="false"
        [enabled]="false"
        [addable]="true"
        [searchable]="true"
        [isEditable]="true"
        [hasDetails]="true"
        [rangeDate]="rangeDate"
        [entity]="'pointage'"
        (searched)="searchPointages($event)"
        (edit)="edit($event, false)"
        (showDetails)="edit($event, true)"
        (addClicked)="add()"
        (nextWeek)="nextWeek()"
        (previousWeek)="previousWeek()"
      >
      </app-generic-table>
    </mat-card>
  </div>
</div>
